<div class="container">


    <h1><%= @anecdote.comment %></h1>


        <%= link_to 'Edit this Comment', "/anecdotes/#{@anecdote.id}/edit" %>
        <br>
        <%= link_to 'Anecdotes Gallery', '/anecdotes' %>

</div>
